appsettings.json
TESTING/.vs/TESTING/FileContentIndex/3bb74f84-790f-4d5c-9937-c8d6100fe865.vsidx
TESTING/.vs/TESTING/FileContentIndex/7ced1d89-c05e-428c-bba3-c32bfbb00359.vsidx
TESTING/.vs/TESTING/FileContentIndex/c7ba496f-50c9-49ac-9645-0848c7244ed3.vsidx
TESTING/.vs/TESTING/DesignTimeBuild/.dtbcache.v2
TESTING/.vs/ProjectEvaluation/testing.projects.v5.2
TESTING/.vs/TESTING/v17/.suo
TESTING/TESTING/bin/Debug/net6.0/TESTING.dll
TESTING/TESTING/bin/Debug/net6.0/TESTING.pdb
TESTING/TESTING/obj/Debug/net6.0/ref/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/refint/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/TESTING.assets.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.csproj.AssemblyReference.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.csproj.CoreCompileInputs.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/TESTING.pdb
TESTING/TESTING/obj/project.assets.json
TESTING/TESTING/obj/project.nuget.cache
TESTING/TESTING/obj/TESTING.csproj.nuget.dgspec.json
TESTING/TESTING/obj/TESTING.csproj.nuget.g.props
TESTING/TESTING/obj/TESTING.csproj.nuget.g.targets
client/package-lock.json

bin/
obj/

# Ignore Visual Studio specific folders
vs/
*.suo
*.user
*.sln.docstates

TESTING/TESTING/appsettings.json
