appsettings.json
TESTING/.vs/TESTING/FileContentIndex/3bb74f84-790f-4d5c-9937-c8d6100fe865.vsidx
TESTING/.vs/TESTING/FileContentIndex/7ced1d89-c05e-428c-bba3-c32bfbb00359.vsidx
TESTING/.vs/TESTING/FileContentIndex/c7ba496f-50c9-49ac-9645-0848c7244ed3.vsidx
TESTING/.vs/TESTING/v17/.suo
TESTING/TESTING/bin/Debug/net6.0/TESTING.dll
TESTING/TESTING/bin/Debug/net6.0/TESTING.pdb
TESTING/TESTING/obj/Debug/net6.0/ref/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/refint/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/TESTING.assets.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.csproj.AssemblyReference.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.csproj.CoreCompileInputs.cache
TESTING/TESTING/obj/Debug/net6.0/TESTING.dll
TESTING/TESTING/obj/Debug/net6.0/TESTING.pdb
TESTING/TESTING/obj/project.assets.json
TESTING/TESTING/obj/project.nuget.cache
TESTING/TESTING/obj/TESTING.csproj.nuget.dgspec.json
TESTING/TESTING/obj/TESTING.csproj.nuget.g.props
TESTING/TESTING/obj/TESTING.csproj.nuget.g.targets
TESTING/.vs/TESTING/FileContentIndex/358f6b30-d1e7-4437-9ea8-20e67a361ba5.vsidx
TESTING/.vs/TESTING/FileContentIndex/6e73c6e0-1931-42e9-9af5-647c77f21c46.vsidx
TESTING/.vs/TESTING/FileContentIndex/720a6390-8c51-4442-8472-18a0c32cf732.vsidx
TESTING/.vs/TESTING/FileContentIndex/f02ac3f2-d969-443f-8dda-6e4ef9f2b9b2.vsidx
TESTING/TESTING/bin/Debug/net6.0/TESTING.dll
TESTING/TESTING/bin/Debug/net6.0/TESTING.pdb
TESTING/.vs/TESTING/FileContentIndex/46984496-ad69-4ba0-89f1-b8d413872ac2.vsidx
TESTING/.vs/TESTING/FileContentIndex/60324d5a-b4d8-4b8b-aa0e-596f320f8898.vsidx
TESTING/.vs/TESTING/FileContentIndex/8c2e32ec-f4bd-4dd2-bf9f-c9840c3ee22d.vsidx
TESTING/.vs/TESTING/FileContentIndex/e1414c09-cc30-479f-aebe-2b042c03fe2a.vsidx
*.vsidx
