.table {
    background: #000000 !important;
    background-color: #000000;
    
    color: #ffffffdb !important;
    /* padding: 0 !important; */
    border: 2px solid #808090;
    border-radius: 10px !important;
    margin-top: 20px;
    margin-left: 10px;
    width: 99% !important;
  }
  .order_button{
    color: #00FF47 !important;
  }

  .table tr{

    color: #ffffffdb !important;

  }

  .table th{

    color: #ffffffdb !important;

  }

  .table td{

    color: #ffffffdb !important;

  }