.container {
    position: relative;
    margin-top: 150px;
    color: #16104e;
    margin-left: 30px;
}



.Title {
    color: #16104e;
    white-space: pre-line;
    font-size: 2.8rem;

    font-weight: bolder;
    line-height: 50px;
    white-space: pre-line;
    margin: 0px;
}

.paragraf {

    content: '';

    color: lighten(#16104e, 20%);

    margin-top: 10px;
}

.img {
    border-radius: 10%;
    height: 195px;
    margin: 7px 20px;

}

.image-container {
    display: flex;
    margin-left: 80px;
}

.column {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    flex-direction: column;

}