

.table_content {
    background: black !important;
    color: rgba(255, 255, 255, 0.727) !important;
  }

  .table_content img{
    border-radius: 10px;
  }

  .table_content_summary {
    /* background: black !important; */
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255) !important;
  }

  .table_button svg{
    /* padding: 5px; */
    /* height: 30px !important;
    width: 30px !important;
    border: 2px solid rgba(245, 245, 245, 0.851) !important;
    border-radius: 50% !important; */
    color: #39FF14;
    
  }
  
  .checkOut_button{
    /* padding: 5px; */
    border-radius: 8px !important;
    background: transparent !important;
    border: 2px solid rgba(245, 245, 245, 0.851) !important;
    
  }
  
  .table_body{
    border: 2px solid rgba(245, 245, 245, 0.851) !important;
    background: black !important;
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(190, 255, 172, 0.319) 0%, rgba(255, 255, 255, 0.05) 70%) !important; */
    /* border-radius: 10px !important; */
    /* box-shadow: rgba(100, 100, 111, 0.362) 0px 7px 29px 0px !important; */
    color: #fff !important;
    border-radius: 8px !important;
    padding: 30px !important;
    margin-bottom: 20px !important;
    /* margin-right: 30px !important; */
  }
  /* 
  .table_head {
    color: #39FF14;
  }
  
  .table_row {
    background-color: #0E0E0E;
  }
  
  .table_cell {
    color: #39FF14;
    border-color: #39FF14;
  }
  
  
  
  
  
   */

   .loading_delete {
    /* background-color: #0E0E0E; */
    color: #39FF14 !important;
  }

  .sticky{
    position: sticky !important;
    top: 0 !important;
  }